<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <!-- Third Party Scripts -->
  <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/underscore/underscore-min.js"></script>

  <!-- Application Scripts -->
  <link rel="stylesheet" type="text/css" href="/static/css/todo.css">
  <script type="text/javascript" src="/static/js/todo.js"></script>
</head>
<body>

  <h4>Create a todo:</h4>
  <!--- TODO CREATION FORM -->
  <form>
    <input type="checkbox" name="completed">
    <input type="text" name="description" required>
    <input class="create" type="submit" formmethod="POST" formaction="/todos" value="Create">
  </form>
  <hr>

  <h4>Active Todos:</h4>
  <!--- LIST OF TODOS (loop) -->
  <div id="todo-list-container"></div>

  <script type="text/template" id="todo-item-tmpl">
    <form>
      <input type="checkbox" name="completed" <%= completed ? "checked" : "" %>>
      <input type="text" name="description" value="<%= description %>" required>
      <input class="update" type="submit" formmethod="POST" formaction="/todos/<%= id %>?_method=PUT" value="Update">
      <input class="delete" type="submit" formmethod="POST" formaction="/todos/<%= id %>?_method=DELETE" value="Delete">
    </form>
  </script>



</body>
</html>
